<nav class="navbar navbar-expand-sm">
    <div class="collapse navbar-collapse">
<!--        <div class="ml-3">-->
<!--            <span>Variant 6100</span>-->
<!--        </div>-->
        <div class="theme-switcher ml-4">
            <label class="form-switch">
                <input
                        type="checkbox" class="form-check-input"
                        [checked]="isLightTheme"
                        (change)="onThemeSwitchChange()"
                />
            </label>
        </div>
        <div class="mx-auto text-center">
            <div>Database course work</div>
            <div>Dyakonov Mikhail and Kuznecov Alexander P33121</div>
        </div>
        <div class="mr-4">
            <a href="https://github.com/mondayish/bd_coursework">
                <div>
                    <i class="fa fa-github fa-3x" style="color: white"></i>
                </div>
            </a>
        </div>
    </div>
</nav>
