<div class="container-lg text-center">
    <div class="h4 form-header">Report history</div>
    <div class="form border border-light rounded p-3">
        <form class="data-form">
            <div class="m-1">
                <div class="m-1 row">
                    <div class="col">
                        <div class="m-1">Animal</div>
                        <p-listbox [options]="animals" [(ngModel)]="selectedAnimal" optionLabel="name"
                                   [listStyle]="{'max-height':'150px'}">
                            <ng-template let-animal pTemplate="item">
                                <div class="animal-item">
                                    <div>{{animal.name}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                    <div class="col">
                        <div class="m-1">Reserve</div>
                        <p-listbox [options]="reserves" [(ngModel)]="selectedReserve" optionLabel="name"
                                   [listStyle]="{'max-height':'150px'}">
                            <ng-template let-reserve pTemplate="item">
                                <div class="reserve-item">
                                    <div>{{reserve.name}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                    <div class="col">
                        <div class="m-1">Reporter</div>
                        <p-listbox [options]="reporters" [(ngModel)]="selectedReporter" optionLabel="name"
                                   [listStyle]="{'max-height':'150px'}">
                            <ng-template let-reporter pTemplate="item">
                                <div class="reporter-item">
                                    <div>{{reporter.username}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
                <div class="m-1 row">
                    <div class="col">
                        <div class="m-1">Min rate</div>
                        <p-inputNumber [(ngModel)]="minRate" [showButtons]="true" inputId="minmax" mode="decimal" min="1" max="5"></p-inputNumber>
                        <div *ngIf="isInvalidMinRate()">
                            <div class="text-danger m-2">Min rate is invalid</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-1">Max rate</div>
                        <p-inputNumber [(ngModel)]="maxRate" [showButtons]="true" inputId="minmax" mode="decimal" min="1" max="5"></p-inputNumber>
                        <div *ngIf="isInvalidMaxRate()">
                            <div class="text-danger m-2">Max rate is invalid</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-1">Start date</div>
                        <p-calendar inputId="basic" [(ngModel)]="startDate"></p-calendar>
                    </div>
                    <div class="col">
                        <div class="m-1">End date</div>
                        <p-calendar inputId="basic" [(ngModel)]="endDate"></p-calendar>
                    </div>
                </div>
                <div class="m-1">
                    <div class="m-2 row">
                        <div class="m-1 col">
                            <button pButton label="Search reports" (click)="onSearchClick()"
                            class="p-button-help font-weight-bold text-dark m-2 w-50"></button>
                        </div>
                        <div class="m-1 col">
                            <button pButton label="Unselect params" (click)="onUnselectClick()"
                                    class="p-button-help font-weight-bold text-dark m-2 w-50"></button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="m-1">
                <p-table [value]="reports" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id</th>
                            <th>Animal</th>
                            <th>Reserve</th>
                            <th>Reporter</th>
                            <th>Health rate</th>
                            <th>Report date</th>
                            <th>Comment</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-report>
                        <tr>
                            <td>{{report.id}}</td>
                            <td>{{report.animal.name}}</td>
                            <td>{{report.reserve.name}}</td>
                            <td>{{report.reporter.username}}</td>
                            <td>{{report.healthRate}}</td>
                            <td>{{report.reportDate}}</td>
                            <td>{{report.comment}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </form>
    </div>
</div>